html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    color: #2e2f31;
}

.navbar {
    /* background-color: #353a3b; */
    background-image: linear-gradient(#5bdfac, #11e7c4);
    position: relative;
}
  
.navbar ul {
    list-style: none;
    margin:0 ;
    padding: 0;
    overflow: hidden;
}
  
.navbar li {
    float: left;
}
  
.navbar ul li a {
    text-decoration: none;
    display: block;
    color: #37383b;
    text-align: center;
    padding: 14px 16px;
    border-radius: 3px;
    cursor:pointer
}
  
.navbar ul li a:hover {
    color: #f3f3f3;
}

.content {
    flex: 1 0 auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.footer {
    /* padding: 2.5rem 0; */
    color: #d0d9da;
    background-image: linear-gradient(#505c61, #353a3b);
    text-align: center;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    font-family: monospace;
}

.footer a {
    color: #d0d9da;
    text-decoration: none;
}

.footer-item {
    padding: 0.3rem;
}

.footer-item-right {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.social-links a:last-of-type {
    padding-right: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
}

.social-link:hover {
    opacity: 1;
}

.social-link svg {
    height: 1.8rem;
    fill: #fff;
}

/* #githubicon {
    margin: 0;
    padding: 10px;
    height: 1.8rem;
} */

/* #githubicon svg {
    height: 1.8rem;
    fill: #fff;
} */
