body {
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
    text-align: center;
}

nav.navbar {
    text-align: center;
    background: rgb(7, 87, 179);
    border-bottom: solid rgb(197, 30, 30) 0.19rem;
    padding: 1rem 0.5rem;
}

nav.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

nav.navbar a:hover {
    background-color: rgb(14, 166, 212);
    border-radius: 10%;
    border-spacing: 5rem;
    color: white;
}

.taskform {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.task {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.taskdelb {
    background: red;
    border: rgb(255, 77, 77) 0.2rem solid;
    border-radius: 10%;
    color: white;
}

.taskdelb:hover {
    background: rgb(196, 0, 0);
    border: rgb(252, 42, 42) 0.2rem solid;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
