body {
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

nav.navbar {
    text-align: center;
    background: rgb(7, 87, 179);
    border-bottom: solid rgb(197, 30, 30) 0.19rem;
    padding: 1rem 0.5rem;
}

nav.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

nav.navbar a:hover {
    background-color: rgb(14, 166, 212);
    border-radius: 10%;
    border-spacing: 5rem;
    color: white;
}

div.logojk h1 {
    padding-top: 0.01rem;
    margin-top: 0;
    color: white;
}

div.logojk {
    border-bottom: solid rgb(197, 30, 30) 0.19rem;
    background: rgb(51, 116, 160);
    padding-top: 0.6rem;
    margin-bottom: 1rem;
}

.taskform {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.task {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

form.taskform input.taskinput {
    width: 40%;
    height: 1.5rem;
    border: 0.09rem solid rgb(68, 68, 68);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

form.taskform input.tasksubmit {
    padding: 0.35rem 1rem;
    background: rgb(51, 116, 160);
    color: white;
    border: 0.09rem solid rgb(68, 68, 68);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.taskdelb {
    background: red;
    border: rgb(255, 77, 77) 0.2rem solid;
    border-radius: 10%;
    color: white;
}

.taskdelb:hover {
    background: rgb(196, 0, 0);
    border: rgb(252, 42, 42) 0.2rem solid;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
