{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo-app</title>
  <link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
  {% block js %}{% endblock %}
</head>

<body>
  <nav class="navbar">
    <a href="{% url 'tasks:index' %}">Tasks</a>
    {% if user.is_authenticated %}
      <a href="#">My account</a>
      <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'users:login' %}">Log in</a>
      <a href="#">Register</a>
    {% endif %}
  </nav>
  <main>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
