{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
    <title>{{ title }} | Todo-app</title>
  {% else %}
    <title>Todo-app</title>
  {% endif %}
  <link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
  {% block js %}{% endblock %}
</head>

<body>
  <nav class="navbar">

    <ul>
      <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'users:profile' %}">My account</a></li>
        <li><a href="{% url 'users:logout' %}">Log out</a></li>
      {% else %}
        <li><a href="{% url 'users:login' %}">Log in</a></li>
        <li><a href="{% url 'users:register' %}">Register</a></li>
      {% endif %}
    </ul>

  </nav>

  {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  {% endif %}

  <main class="container content">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">

      <div class="footer-item">
        <p>&copy; 2019 <a href="https://github.com/wilsandbrink" target="_blank" rel="noopener noreferrer">wilsandbrink</a></p> 
      </div>
  
      <div class="footer-item-right">
        <nav class="social-links">
          <a href="https://github.com/wilsandbrink/horrible-todo" class="social-link" target="_blank" rel="noopener noreferrer">
            {% include 'tasks/partials/icons/github.html' %}
          </a>
        </nav>
      </div>
  
    </footer>
</body>
</html>
