{% extends 'tasks/base.html' %}
{% load static %}

{% block content %}
  <div class="logojk">
    <h1>Todo-app</h1>
    <form action="{% url 'tasks:newtask' %}" method="POST" class="taskform">
      {% csrf_token %}
      <input class="taskinput" type="text" name="title">
      <input class="tasksubmit" type="submit" value="Create">
    </form>
  </div>
  {% if tasks %}
    {% for task in tasks %}
      {% include 'tasks/partials/task.html' %}
    {% endfor %}
  {% else %}
  <p>No tasks.</p>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'tasks/js/taskchange.js' %}"></script>
{% endblock %}

