{% extends 'tasks/base.html' %}
{% load static %}

{% block content %}
  <h2>Todo-app</h2><hr>
  <form action="{% url 'tasks:newtask' %}" method="POST" class="taskform">
    {% csrf_token %}
    <input type="text" name="title">
    <input type="submit" value="Create">
  </form>
  {% if tasks %}
    {% for task in tasks %}
      <div class="task">
        <form action="{% url 'tasks:change' task.id %}" method="POST" id='{{ task.id }}'>
          {% csrf_token %}
          <p>{{ task.title }} |
            Done: <input type="checkbox" name="is_done" id="{{ task.id }}" value="{{ task.id }}" {% if task.is_done %} checked {% endif %} onchange="taskChange('{{ task.id }}')"></p>
        </form>
        <button class="taskdelb">Delete</button>
      </div>
    {% endfor %}
  {% else %}
  <p>No tasks.</p>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'tasks/js/taskchange.js' %}"></script>
{% endblock %}

